{% extends "main/base.html" %}
{% load static %}
{% block contenido %}
<div class="login-container">
    <div class="form-box">
        <h1 id="titulo">Registro</h1>
        <form method="post">
            {% csrf_token %}
            <div class="input-grupo">
                {{ form }}
                <p>¿Olvidaste tu contraseña? <a href="#">click aquí</a></p>
            </div>
            <div class="btn-field">
                <button type="submit" id="inSeBtn" class="disable">Registrarme</button>
            </div>
        </form>
    </div>
</div>
<script src="{% static 'main/js/code.js' %}"></script>
{% endblock contenido %}