{% extends "main/base.html" %}
{% load static %}
{% block contenido %}
<div class="login-container">
    <div class="form-box">
        <h1 id="titulo">Registro</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="input-grupo">
                {{ form }}
            </div>
            <div class="btn-field">
                <button type="submit" id="inSeBtn" class="disable">Registrarme</button>
            </div>
        </form>
    </div>
</div>
{% endblock contenido %}