{% extends "main/base.html" %}

{% block contenido %}
<div class="body-container">
    <div class="body-container-fondo">
        <div class="caja-producto-inicio">
            <div>
                <img src="{{ img_inicio }}" alt="Item image">
            </div>
            <div class="caja-producto-info">
                <h2>Loción anticaida</h2>
                <p>Lorem ipsum dolor sit amet conse sctetur adipiscing elit. Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                <div>
                    <span class="caja-producto-precio">$9.000</span>
                </div>
                <a href="#" class="add-btn">Añadir al carrito</a>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}