{% extends "main/base.html" %}
{% load static %}
{% block contenido %}
<div class="login-container">
    <div class="form-box">
        <h1 id="titulo">Registro</h1>
        <form>
            <div class="input-group">
                <div class="input-field" id="nombre-field">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" id="nombre" spellcheck="false" placeholder="Nombre">
                    <span id="error-nombre"></span>
                </div>
                <div class="input-field" id="email-field">
                    <i class="fa-solid fa-envelope"></i>
                    <input type="email" spellcheck="false" id="email" placeholder="Email" >
                    <span id="error-email"></span>
                </div>
                
                <div class="input-field" id="pass-field">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" id="pass" placeholder="Contraseña" >
                    <span id="error-pass"></span>
                </div>
                <p>¿Olvidaste tu contraseña? <a href="#">click aquí</a></p>
            </div>
            <div class="btn-field">
                <button type="button" id="regBtn">Registrarme</button>
                <button type="button" id="inSeBtn" class="disable">Iniciar Sesión</button>
            </div>
        </form>
    </div>
</div>
<script src="{% static 'main/js/code.js' %}"></script>
{% endblock contenido %}
