{% extends "main/base.html" %}
{% load static %}
{% block contenido %}
<div class="wrapper">
    <div class="category-filter">
        <div class="container-producto">
            <div class="cabecera-producto">
                <h1>Productos</h1>
            </div>
            <div class="filter-btns">
                <button type ="button" class="filter-btn" id="todo">Todo</button>
                <button type ="button" class="filter-btn" id="belleza-flt">Belleza</button>
                <button type ="button" class="filter-btn" id="syb-flt">Salud y bienestar</button>
                <button type ="button" class="filter-btn" id="banio">Baño</button>
            </div>
            <div class="formulario-productos">
                <h2>{% if producto_id %}Editar Producto{% else %}Crear Producto{% endif %}</h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">{% if producto_id %}Guardar Cambios{% else %}Crear{% endif %}</button>
                </form>
                <a href="/productos-admin">Cancelar</a>
            </div>
            <div class="contenedor-search">
                <form class="search-bar" action="" style="margin:auto;max-width:300px">
                    <input type="text" placeholder="Buscar producto..." name="search2">
                    <button type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
            <div class="filter-items">
                <!-- ---------------------------------------------------------------------------- -->
                {% for producto in productos %}
                <div class="filter-item">
                    <div class="item-img">
                        <img src="/media/{{producto.img_producto}}" alt="Item image">
                    </div>
                    <div class="item-info">
                        <h2>{{ producto.nombre_producto }}</h2>
                        <p>{{ producto.descri_producto }}</p>
                        <div>
                            <span class="precio">${{ producto.precio_producto }}</span>
                        </div>
                        <button onclick="agregarAlCarrito('{{ producto.nombre_producto }}')" class="add-btn">Añadir al carrito</button>
                        <a class="" href="{{producto.id_producto}}"> <!---creas class icono-->
                            <i class="fa-solid fa-pencil"></i>
                        </a>
                    </div>
                </div>
                {% endfor %}
                    <!-- {{ producto.id_categoria }} -->
            </div>
            
        </div>
    </div>
</div>
<script>
    let carrito = [];
    function agregarAlCarrito(producto){
        carrito.push(producto);
        alert('"${producto}" se agregó al carrito.');
    }
    function abrirCarrito(){
        let mensaje = encodeURIComponent('¡Hola! Quiero comprar los siguientes productos: ${carrito.join(', ')}');

        window.location.href = 'https://wa.me/56997092033/?text=${mensaje}';
    }
</script>
{% endblock contenido %}