{% extends "main/base.html" %}
{% load static %}
{% block contenido %}
<div class="wrapper">
    <div class="category-filter">
        <div class="container-producto">
            <div class="cabecera-producto">
                <h1>Productos</h1>
            </div>
            <!-- <div class="filter-btns">
                <button type ="button" class="filter-btn" id="todo">Todo</button>
                <button type ="button" class="filter-btn" id="belleza-flt">Belleza</button>
                <button type ="button" class="filter-btn" id="syb-flt">Salud y bienestar</button>
                <button type ="button" class="filter-btn" id="banio">Baño</button>
            </div> -->
            <h2>Lista de Categorías</h2>
                <ul>
                    <li><a href="{% url 'productos' %}">Todas</a></li>
                    {% for categoria in categorias %}
                    <li><a href="{% url 'productos' %}?id_categoria={{ categoria.id_categoria }}">{{ categoria.descrip_categoria }}</a></li>
                    {% endfor %}
                </ul>
        
            <div class="contenedor-search">
                <form class="search-bar" action="" style="margin:auto;max-width:300px">
                    <input type="text" placeholder="Buscar producto..." name="search2">
                    <button type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
            <div class="filter-items">
                {% for producto in productos %}
                <div class="filter-item">
                    <div class="item-img">
                        <img src="/media/{{producto.img_producto}}" alt="Item image">
                    </div>
                    <div class="item-info">
                        <h2>{{ producto.nombre_producto }}</h2>
                        <p>{{ producto.descri_producto }}</p>
                        <div>
                            <span class="precio">${{ producto.precio_producto }}</span>
                        </div>
                        <button onclick="agregarAlCarrito('{{ producto.nombre_producto }}','{{ producto.precio_producto }}')" class="add-btn">Añadir al carrito</button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
    let carrito = [];
    function agregarAlCarrito(nombre_producto, precio_producto){
        carrito.push(nombre_producto,precio_producto);
        alert('"${nombre_producto}" se agregó al carrito.');
    }
    function abrirCarrito(){
        let mensaje = "¡Hola! Quiero comprar los siguientes productos:\n";
        let total = 0;

        carrito.forEach(item =>{
            mensaje += '${item.nombre_producto}, $${item.precio_producto}\n';
            total += item.precio_producto;
        });

        mensaje += 'Total: $${total}';
        let mensajeWhatsapp = encodeURIComponent(mensaje);
        
        window.location.href = 'https://wa.me/56997092033/?text=${mensajeWhatsapp}';
    }
</script>
{% endblock contenido %}