{% extends "main/base.html" %}
{% load static %}
{% block contenido %}
<div class="wrapper">
    <div class="category-filter">
        <div class="container-producto">
            <div class="cabecera-producto">
                <h1>Productos</h1>
            </div>
            <div class="formulario-productos" id="formulario-productos">
                <h2>{% if producto_id %}Editar Producto{% else %}Crear Producto{% endif %}</h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">{% if producto_id %}Guardar Cambios{% else %}Crear{% endif %}</button>
                    {% if producto_id %}
                        <button type="submit" name="delete" value="delete">Eliminar</button>
                    {% endif %}
                    <a class="formulario-enlace" href="/productos-admin">Cancelar</a>
                </form>
            </div>
            <!-- <div class="contenedor-search">
                <form class="search-bar" action="" style="margin:auto;max-width:300px">
                    <input type="text" placeholder="Buscar producto..." name="search2">
                    <button type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div> -->
            <div class="filter-items">
                {% for producto in productos %}
                <div class="filter-item">
                    <div class="item-img">
                        <img src="/media/{{producto.img_producto}}" alt="Item image">
                    </div>
                    <div class="item-info">
                        <h2>{{ producto.nombre_producto }}</h2>
                        <p>{{ producto.descri_producto }}</p>
                        <div class="intem-info-bottom" >
                            <span class="precio">${{ producto.precio_producto }}</span>
                            <a class="item-info-icon" href="{{producto.id_producto}}"> <!---creas class icono-->
                                <i class="fa-solid fa-pencil"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
    let carrito = [];
    function agregarAlCarrito(nombre_producto, precio_producto){
        carrito.push(nombre_producto,precio_producto);
        alert('"${nombre_producto}" se agregó al carrito.');
    }
    function abrirCarrito(){
        let mensaje = "¡Hola! Quiero comprar los siguientes productos:\n";
        let total = 0;

        carrito.forEach(item =>{
            mensaje += '${item.nombre_producto}, $${item.precio_producto}\n';
            total += item.precio_producto;
        });

        mensaje += 'Total: $${total}';
        let mensajeWhatsapp = encodeURIComponent(mensaje);
        
        window.location.href = 'https://wa.me/56997092033/?text=${mensajeWhatsapp}';
    }
</script>
{% endblock contenido %}