{% extends "main/base.html" %}
{% load static %}
{% block contenido %}
<div class="heading"> 
    <h1> Sobre Nosotros </h1>
</div>
<div class="container">
    <section class="about">
        <div class="about-image">
            <img src="{% static 'main/imagenes/logo.png' %}" alt="logo empresa">
        </div>
        <div class="about-content">
            <h2>¿Quiénes somos?</h2>
            <p>Mi nombre es Carolina, una mujer porteña, casada y madre de tres hijos. 
                Comencé mi viaje como emprendedora haciendo jabones artesanales en casa,
                buscando generar ingresos sin descuidar a mi familia.
                Con el tiempo, me inscribí en talleres y cursos sobre cosmética natural, 
                lo que me dio la confianza para profesionalizar mi negocio.</p>
            <a href="https://www.instagram.com/adv_cosmets/" target="_blank" rel="noopener noreferrer" class="read-more">Conoce mi instagram</a>
            </div>
    </section>        
</div>
{% endblock contenido %}