{% extends "main/base.html" %}
{% load static %}
{% block contenido %}
<div class="contenedor-carro">
    <div class="carrito-box">
        <h1>Carrito de Compras</h1>
        <table>
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items_carrito %}
                <tr>
                    <td>{{ item.id_producto.nombre_producto }}</td>
                    <td>{{ item.cantidad_prod }}</td>
                    <td>{{ item.id_producto.precio_producto }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button onclick="abrirCarrito()" class="add-btn">Coordinar Compra</button>
        <form action="{% url 'limpiar_carrito' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="carrito_id" value="{{ carrito.id_carro }}">
            <button class="add-btn-carro" type="submit">Limpiar Carrito</button>
            <a href="{% url 'productos' %}">Volver al Catálogo</a>
        </form>
    </div>
</div>
<script>
    const items_carrito_w = JSON.parse('{{ items_carrito_json|escapejs }}')
</script>
{% endblock contenido %}