{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Carrito</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">

</head>
<body>
    <div class="header"> 
        <a href="/"  id="logo" class="logo">
            <img src="{% static 'imagenes/logo.png' %}" alt="">
        </a>
        <div class="header-right">
            <a href="/">Inicio</a>
            <a href="/productos">Productos</a>
            <a href="/nosotros">Sobre nosotros</a>
            <a href="/login">Perfil</a>
            <a class="nav-link" href="/carrito">
                <i class="fas fa-shopping-cart"></i>
            </a>
        </div>
    </div>
    <h2>holaaa</h2>
</body>
</html>